
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* إضافة التحريك */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* تحريك الكارد من اليسار إلى اليمين */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* تطبيق الأنيميشن على الكارد */
.card {
  animation: slideFromLeft 5s infinite ease-in-out;
}


.scroll-container .card {
  animation: slideFromLeft 10s linear infinite;
}